---
const origin = Astro.origin;
import {Image} from "astro:assets";
import {getCollection, getEntry} from 'astro:content';

import ProductsLayout from '../../layouts/products.astro';
const allCategories = await getCollection('categories');
---
<ProductsLayout>
    <div class="bg-white">
        <div class="mx-auto max-w-7xl py-24 sm:py-32 sm:px-2 lg:px-4">
            <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
                <div class="max-w-3xl">
                    <h2 class="font-semibold text-gray-500">Список оборудования</h2>
                    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Наша продукция</p>
                    <!--<p class="mt-4 text-gray-500">The Drawstring Canister comes with multiple strap and handle options to adapt throughout your day. Shoulder sling it, backpack it, or handy carry it.</p>-->
                </div>

                <div class="mt-10 space-y-16 border-t border-gray-200 pt-4 sm:mt-16 sm:pt-4">

                    <nav class="flex" aria-label="Breadcrumb">
                        <ol role="list" class="flex items-center space-x-4">
                            <li>
                                <div>
                                    <a href={new URL('https://itsect.github.io/specvagonmash/')} class="text-gray-400 hover:text-gray-500">
                                        <svg class="h-5 w-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                        <span class="sr-only">Home</span>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="flex items-center">
                                    <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <a href={new URL('/products', 'https://itsect.github.io/specvagonmash/')}
                                       class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Продукция</a>
                                </div>
                            </li>
                        </ol>
                    </nav>

                    {allCategories.sort((a, b) => {
                        return a.data.id - b.data.id;
                    }).map(category => {
                        return (
                                <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8">
                                    <div class="mt-6 lg:col-span-5 lg:mt-0 xl:col-span-4">
                                        <h3 class="text-lg font-medium text-gray-900">
                                            <a href={'https://itsect.github.io/specvagonmash/products/' + category.slug} title={category.data.title}>
                                                {category.data.title}
                                            </a>
                                        </h3>

                                    </div>
                                    <div class="flex-auto lg:col-span-7 xl:col-span-8">
                                        <div class="aspect-w-5 aspect-h-2 overflow-hidden rounded-lg bg-gray-100 border-gray-300 border shadow-sm">
                                            <a href={new URL(category.slug, 'https://itsect.github.io/specvagonmash/products/')}
                                               title={category.data.title}>
                                                <Image width="800" height="320"
                                                       src={category.data.image} alt={category.data.title}
                                                />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        )
                    })}
                </div>
            </div>
        </div>
    </div>
</ProductsLayout>